* { /*reseting the whole page*/
    margin: 0;
    padding: 0;
}

html {
     scroll-behavior: smooth;
 } 

@font-face {
    src: url(fonts/OvertheRainbow-Regular.ttf);
    font-family: mmono;
}
@font-face {
    src: url(fonts/PoiretOne-Regular.ttf);
    font-family: pone;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav nav"
    "main main"
    "abtMe abtMe"
    "skl skl"
    "port port"
    "cnnt cnnt"
    "footer footer";
}

@font-face {
    src: url(fonts/Laila-Regular.ttf);
    font-family: laila;
}

.nav-bar {
    grid-area: nav;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

.logo {
    color: rgb(235, 180, 41);
    font-family: pone;
    font-size: 30px;
    padding: 10px;
    letter-spacing: 8px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: rgb(221, 129, 23);
    text-decoration: none;
    font-family: pone;
    font-size: 20px;
    font-weight: bold;
}

.mainContent {
    grid-area: main;
    background: url(images/cropped.jpg) center no-repeat;
    padding: 17rem 0;
    background-size: cover;
    position: relative;
}

.content {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.brand {
    color: rgb(235, 180, 41);
    font-family: pone;
    font-size: 3em;
    margin-bottom: 1rem;
    animation: text 2.5s;
    font-weight: bolder;
}

#text {
    color: rgb(221, 129, 23);
    font-family: pone;
    font-size: 1.5rem;
    padding: 0;
    text-align:center;
    font-weight: bolder;

}

@media (max-width: 731px) {
    .container {
        grid-template-columns: 100% auto;
        grid-template-rows: auto auto;
        grid-template-areas:
        "nav" 
        "main"
        "abtMe"
        "skl"
        "port"
        "cnnt"
        "footer";
    }
}
@media (max-width: 569px){
    .nav-links {
        display: grid;
        justify-content: center;
    }
    .logo {
        font-size: 50px;
    }
    .content {
        right: 15%;
    }
    .containerr {
        padding:0;
    }
}

 @media (max-width: 455px){
     .content h1 {
        font-size: 4.5rem;
    }
    .content h6 {
        font-size: 1rem;
    }
 }

 @media (max-width: 375px){
     .content h1 {
         font-size: 4rem;
     }
     .content h6 {
         font-size: 1.1rem;
     }
 }

.aboutMe {
    grid-area: abtMe;
    padding: 5rem;
    background-color: rgb(3, 0, 0);
    display: flex;
    position: relative;
}

.aboutMe-img {
    width: 100%;
    padding:10px;

}

.aboutMe-img::before{
    position: absolute;
    content: '';
    right: -1px;
    top: -7px;
    width: 100%;
    height: 100%;
}

.aboutMe-img img {
    /* padding:10px; */
    width: 100%;
    border-radius: 2rem;
    display: block;
}

@font-face {
    src: url(fonts/Voltaire-Regular.ttf);
    font-family: vol;
}

.aboutMe-info h2 {
    padding: 1.5rem;
    font-family: vol;
    font-size: 3rem;
    color: rgb(235, 180, 41);
}

.aboutMe-info p {
    font-family: laila;
    color: rgb(221, 129, 23);
}
.skills {
    grid-area: skl;
    background: url(./images/nhu-nguyen-kr-jmsASg8M-unsplash.jpg) center no-repeat;
    background-size: cover;
    padding: 5rem;
    display: flex;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.548);
}

.skills h1 {
    color: rgb(235, 180, 41);
    font-family: vol;
    font-size: 3rem;
}
.skills-info {
    padding: 0 3rem 0 0;
}

.skills-img {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    grid-auto-rows: 140px;
    align-items: center;
}

.skills-img img {
    width: 90%;
    padding: 0 1rem;
}

.portfolio {
    grid-area: port;
    padding: 4rem 0 4rem 0;
    position: relative;
    background-color: black;
}
.portfolio-info {
    padding: 2rem;
}

.containerr > div {
    display: flex;
    transition: .4s ease-in-out;
}

.containerr > div > a > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
 .containerr > div:hover {
    transform: scale(.96);
 }

.containerr {
    display: grid;
    padding: 2rem;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    grid-auto-rows: 170px;
}

.containerr > div > h1 {
    position: relative;
    display: flex;
    text-align: center;
    margin: 1em;
    font-family: pone;
    font-size: 30px;
    color: rgb(221, 129, 23);
}

.portfolio h1 {
    color: rgb(235, 180, 41);
    font-family: vol;
    font-size: 3rem; 
    text-align: center;
}

.connect {
    grid-area: cnnt;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 5rem 0;
    
}

.connect h1 {
    margin: 10px;
    display: flex;
    position: center;
    align-items: center;
    justify-content: center;
    font-family: vol;
    font-size: 2rem;
    color: aliceblue;
}

.card p {
    color: black;
    font-family: laila;
}

.body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.contact-info {
    display: flex;
    width: 95%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    padding: 0 18px; 
}

@media (min-width: 650px) {
    .footerLinkSide {
        font-size: 18px;
    }
}
@media (max-width:620px) {
    .content h1 {
        font-size: 2.5rem;
    }
    .nav-links li {
        margin: 5px 0;
    }
    .skills {
        padding: 2.5rem;
    }
    .skills-img {
        grid-gap: 5px;
        padding: 0 15px;
    }
    .contact-info {
        padding: 0;
    }
    .card p {
        font-size: 10px;
    }
    .aboutMe-img img {
        display: none;
    }
    .containerr {
        padding:0;
    }
}

.card {
    background: #f0cb27;
    padding: 0 20px;
    margin: 50px 10px;
    width: calc(33% - 20px);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.card p {
    font-size: 15px;
    height: 300px;
    opacity: 0;
    transition: 0.6s linear;
}

.card:hover p{
    opacity: 1;
}

.card i {
    background: black;
    color: #f8d640;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    border-radius: 60px;
    transition: 0.5s linear;
}

.card:hover i{
    background: none;
    color: black;
    transform: scale(1.6);
}
.footer {
    grid-area: footer;
    background-color: black;
    font-family: fantasy;
    align-items: center;
}

.footerMenu {
    margin: 1rem;
    padding: 1rem 0;
    height: 100%;
    align-items: center;
    display: flex; /* will make item line up side by side*/
}

.footerItem {
    list-style: none;  /*wont show dots of ul*/
    padding: 0 1rem;
    display: inline-block;
    margin: auto;
}

.footerLink {
    text-decoration: none;
    font-weight: bold;
    color: rgb(217, 222, 226);
    position: relative;
    align-items: center;
    font-size: 18px;
}

.footerLinkSide {
    text-decoration: none;
    font-weight: bold;
    color: #f8d640;
    position: relative;
    align-items: center;
    font-size: 30px;
}